@import url(https://fonts.googleapis.com/css?family=Roboto:700);
@import url('https://fonts.googleapis.com/css2?family=Dela+Gothic+One&family=PT+Mono&display=swap');


body {
  background-color: rgb(0, 0, 0);
  text-align: center;
  margin-top: 4.5%;
}

h1 {
  font-family: 'Dela Gothic One', cursive;
  font-weight: 400;
  text-align: left;
  font-size: 100px;
}

p {
  padding-top: 10px;
  text-align: left;
  font-size: 18px;
  max-width: 800px;
  font-family: 'PT Mono', monospace;
}

fieldset {
  border: none;
  display: block;
}

output {
  display: inline-block;
  min-width: 1.3em;
}

label, output {
  padding: 2px 9px;
  border-radius: 3px;
  font-family: 'PT Mono', monospace;
  font-size: 1.1em;
}

input[type=range] {
  width: 300px;
}

label[for=r], output[for=r] {
  background-color: #f00;
}

label[for=g], output[for=g] {
  background-color: #0f0;
}

label[for=b], output[for=b] {
  background-color: #00f;
}

.container {
  max-width: 75vw;
  display: block;
  margin: auto;
}

.title {
  margin: 0px;
  line-height: 1;
}

.hex-values {
  font-size: 150px;
  margin: 10px;
  font-weight: 800;
}

p.hex-values {
  font-size: 35px;
  padding-top: 20px;
}

.color-block {
  display: inline-block !important;
  /*max-width: 33%  ;*/
  position: relative;
  left: -50px;
}

/* Slider CSS */
.slider {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  width: 10rem;
  height: 0.25rem;
  outline: none;
  border-radius: 0.25rem;
}

.slider::-webkit-slider-thumb {
  -webkit-appearance: none;
  appearance: none;
  width: 1.5rem;
  height: 1.5rem;
  background-color: white;
  border: 0.25rem solid #fff;
  border-radius: 1rem;
  cursor: pointer;
}

.hashtag {
  position: relative;
  top: -135px;
  left: 31px;
  font-weight: 800;
  padding-top: 0px !important;
}

@media only screen and (max-width: 1600px) {
  .color-block {
    max-width: 23%;
  }

  input[type=range] {
    width: 200px;
  }
}


@media only screen and (max-width: 1200px) {
  .container {
    max-width: 85vw;
  }

  input[type=range] {
    width: 200px;
  }

  .hex-values {
    font-size: 120px;
  }
}

@media only screen and (max-width: 1100px) {
  .container {
    max-width: 95vw;
  }
  .hashtag {
    left: 0;
  }
    input[type=range] {
    width: 140px;
  }
  .hex-values {
    font-size: 100px;
  }
}


@media only screen and (max-width: 900px) {
  .container {
    max-width: 95vw;
  }
  .hashtag {
    left: 0;
  }

    input[type=range] {
    width: 80px;
  }
  .hex-values {
    font-size: 70px;
  }
  .hashtag {
    font-size: 100px;
    top: -109px;
  }
}


