@import url(https://fonts.googleapis.com/css?family=Roboto:700);

body {
  background-color: rgb(0, 0, 0);
  text-align: center;
  margin-top: 6%;
  font-family: "Roboto", sans-serif;
}

h1 {
  text-align: left;
  font-size: 100px;
}

p {
  text-align: left;
  font-size: 18px;
  max-width: 50%;
}

fieldset {
  border: none;
  display: block;
}

output {
  display: inline-block;
  min-width: 1.3em;
}

label, output {
  padding: 2px 9px;
  border-radius: 3px;
  font-family: 'Roboto', sans-serif;
  font-size: 1.1em;
}

input[type=range] {
  width: 300px;
}

label[for=r], output[for=r] {
  background-color: #f00;
}

label[for=g], output[for=g] {
  background-color: #0f0;
}

label[for=b], output[for=b] {
  background-color: #00f;
}

.container {
  max-width: 75vw;
  display: block;
  margin: auto;
}

.title {
  margin: 0px;
  line-height: 1;
}

.hex_values {
  font-size: 150px;
  margin: 10px;
  font-family: sans-serif;
  font-weight: 800;
}

p.hex_values {
  font-size: 35px;
  padding-top: 20px;
}

.color_block {
  display: inline-block !important;
  max-width: 33%;
  position: relative;
  left: -50px;
}

/* Slider CSS */
.slider {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  width: 10rem;
  height: 0.25rem;
  outline: none;
  border-radius: 0.25rem;
}

.slider::-webkit-slider-thumb {
  -webkit-appearance: none;
  appearance: none;
  width: 1.5rem;
  height: 1.5rem;
  background-color: white;
  border: 0.25rem solid #fff;
  border-radius: 1rem;
  cursor: pointer;
}

.hashtag {
  position: relative;
  top: -135px;
  left: 31px;
  font-weight: 800;
  padding-top: 0px !important;
}